<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!--&lt;!&ndash; Footer Links &ndash;&gt;-->
  <!--<div class="container-fluid text-center text-md-left">-->

    <!--&lt;!&ndash; Grid row &ndash;&gt;-->
    <!--<div class="row">-->

      <!--&lt;!&ndash; Grid column &ndash;&gt;-->
      <!--<div class="col-md-6 mt-md-0 mt-3">-->

        <!--&lt;!&ndash; Content &ndash;&gt;-->
        <!--<h5 class="text-uppercase">Footer Content</h5>-->
        <!--<p>Here you can use rows and columns to organize your footer content.</p>-->

      <!--</div>-->
      <!--&lt;!&ndash; Grid column &ndash;&gt;-->

      <!--<hr class="clearfix w-100 d-md-none pb-3">-->

      <!--&lt;!&ndash; Grid column &ndash;&gt;-->
      <!--<div class="col-md-3 mb-md-0 mb-3">-->

        <!--&lt;!&ndash; Links &ndash;&gt;-->
        <!--<h5 class="text-uppercase">Links</h5>-->

        <!--<ul class="list-unstyled">-->
          <!--<li>-->
            <!--<a href="#!">Link 1</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 2</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 3</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 4</a>-->
          <!--</li>-->
        <!--</ul>-->

      <!--</div>-->
      <!--&lt;!&ndash; Grid column &ndash;&gt;-->

      <!--&lt;!&ndash; Grid column &ndash;&gt;-->
      <!--<div class="col-md-3 mb-md-0 mb-3">-->

        <!--&lt;!&ndash; Links &ndash;&gt;-->
        <!--<h5 class="text-uppercase">Links</h5>-->

        <!--<ul class="list-unstyled">-->
          <!--<li>-->
            <!--<a href="#!">Link 1</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 2</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 3</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 4</a>-->
          <!--</li>-->
        <!--</ul>-->

      <!--</div>-->
      <!--&lt;!&ndash; Grid column &ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash; Grid row &ndash;&gt;-->

  <!--</div>-->
  <!--&lt;!&ndash; Footer Links &ndash;&gt;-->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://github.com/xcesco"> xcesco</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
