<div class="card">
  <div class="card-header d-flex flex-row align-items-center">
    <p class="float-left display-4 p-1">Administrators</p>
    <a  href="#" class="btn btn-primary ml-auto" routerLink="../create" role="button">New admin</a>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Display name</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of list; index as i" class="align-content-md-center">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.username }}</td>
        <td>{{ item.displayName }}</td>
        <td>{{ item.email }}</td>
        <td>
          <a href="#" class="m-2 btn btn-sm btn-outline-primary float-left" [routerLink]="'/admins/'+item.id"
             ngbTooltip="Seleziona"><i class="fa fa-2x fa-edit"></i></a>

          <button (click)="onChangePassword(item)" type="button"
                  class="m-2 btn btn-sm btn-outline-primary float-left"><i class="fa fa-2x fa-key"></i></button>


          <button (click)="onDelete(item)" type="button" class="m-2 btn btn-sm btn-outline-primary float-right"><i
            class="fa fa-2x fa-trash"></i></button>


          <!--<a class="" href="#" [routerLink]="'/admins/'+item.id+'/change-password'" ngbTooltip="Cambia password"><i class="fa fa-2x fa-key"></i></a>-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



