<div class="card">
  <div class="card-header d-flex flex-wrap align-items-center">
    <div class="display-4 p-1">Admins</div>
    <a class="btn btn-primary ml-auto" [routerLink]="'/administrators/create'" role="button">New admin</a>
  </div>
  <div class="card-body">

    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col" class="d-none d-xl-table-cell">#</th>
        <th scope="col" class="d-none d-xl-table-cell">Username</th>
        <th scope="col">Display name</th>
        <th scope="col" class="d-none d-xl-table-cell">Email</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of list; index as i" class="align-content-md-center">
        <th scope="row" class="d-none d-xl-table-cell align-middle">{{ i + 1 }}</th>
        <td class="d-none d-xl-table-cell align-middle">{{ item.username }}</td>
        <td class="align-middle">{{ item.displayName }}</td>
        <td class="d-none d-xl-table-cell align-middle">{{ item.email }}</td>
        <td class="d-flex flex-wrap align-middle">
          <a href="#" class="ml-auto m-2 btn btn-lg btn-outline-primary" [routerLink]="'/administrators/'+item.id"
             ngbTooltip="Edit"><i class="fa fa-edit"></i></a>

          <button (click)="onChangePassword(item)" type="button"
                  ngbTooltip="Change password" class="m-2 btn btn-lg btn-outline-primary"><i class="fa fa-key"></i></button>


          <button (click)="onDelete(item)" type="button" ngbTooltip="Delete" class="m-2 btn btn-lg btn-outline-primary"><i
            class="fa fa-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-center text-muted mb-5" *ngIf="0===list.length">No element found</div>

  </div>
</div>



