<div class="container pt-3" *appSecureIsAuthenticated="false">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-6">
      <div class="card">
        <div class="card-header"><img class="m-auto" src="assets/logo_main.png"></div>
        <div class="card-body">
          <input type="text" class="form-control mb-2" placeholder="Email" #userEmail required autofocus>
          <input type="password" class="form-control mb-2" placeholder="Password" #userPassword required>
          <div class="row">
            <div class="col-md-6 text-center">
              <button type="button" ngbAutofocus (click)="login(userEmail.value, userPassword.value)" class="btn btn-lg btn-primary btn-block mb-1">Login</button>
            </div>
            <div class="col-md-6 text-center">
              <a [routerLink]="'/signup'" class="btn btn-lg btn-outline-primary btn-block mb-1" ngbTooltip="Sign up as consumer">Signup</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
