<header *appSecureIsAuthenticated>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a [routerLink]="''" class="navbar-brand d-flex align-items-center">
      <img src="assets/logo_main.png" width="64" height="64"/>&nbsp;
      <strong>Files on cloud</strong>
    </a>

    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">

      <ul class="navbar-nav mr-auto">
        <!--                <li class="nav-item" routerLinkActive="active">-->
        <!--                  <a class="nav-link" routerLinkActive="app-selected-link" [routerLink]="'/login'">Login</a>-->
        <!--                </li>-->
        <li class="nav-item" routerLinkActive="active" *appSecureIsAdministrator>
          <a class="nav-link" routerLinkActive="app-selected-link" [routerLink]="'/administrators/list'">Administrators</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *appSecureIsAdministrator>
          <a class="nav-link" routerLinkActive="app-selected-link" [routerLink]="'/administrators/report'">Report</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *appSecureIsAdministrator>
          <a class="nav-link" routerLinkActive="app-selected-link" [routerLink]="'/uploaders'">Uploaders</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *appSecureIsConsumer="false">
          <a class="nav-link" routerLinkActive="app-selected-link" [routerLink]="'/consumers'">Consumers</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *appSecureIsAdministrator>
          <a class="nav-link" routerLinkActive="app-selected-link" [routerLink]="'/files'">Files</a>
        </li>

        <li class="nav-item" routerLinkActive="active" *appSecureIsUploader>
          <a class="nav-link" routerLinkActive="app-selected-link" [routerLink]="'/files/create'">Create file</a>
        </li>
      </ul>

      <div class="align-content-lg-center" [ngClass]="{ 'float-right': navbarOpen }" *ngIf="logged">
        <button type="button" class="btn btn-outline-light align-content-lg-center m-1" ngbTooltip="{{user.roles[0].replace('ROLE_','')}}" (click)="gotoDetail()"><i
          class="fa fa-user-circle"></i>&nbsp;{{user.displayName}}</button>

        <button type="button" class="btn btn-outline-light align-content-lg-center m-1" (click)="authService.logout()"><i class="fa fa-sign-out"></i>&nbsp;Logout</button>
      </div>


    </div>
  </nav>
</header>
