<div class="card">
  <div class="card-header d-flex flex-wrap align-items-center">
    <div *ngIf="!signupMode" class="float-left display-4 p-1">{{ isJustCreated ? 'New' : 'Edit'}} Consumer</div>
    <div *ngIf="signupMode" class="float-left display-4 p-1">Signup (as consumer)</div>
    <button *ngIf="!signupMode" class="btn btn-outline-primary ml-auto" (click)="goBack()">
      <i class="fa fa-arrow-left"></i>&nbsp;Back
    </button>
  </div>
  <div class="card-body">
    <app-user-detail [user]="user" [signupMode]="signupMode" (save)="onSave($event)" type="Consumer"></app-user-detail>
  </div>
</div>
