<div class="card">

  <div class="card-header d-flex flex-wrap align-items-center">

    <img alt="logo" ngbTooltip="{{uploaderDisplayName}}" class="img-fluid my-auto" style="width: 64px;"
         src="{{getLogoUrl()}}" *appSecureIsConsumer>

    <div class="display-4 p-1 mx-3 mr-auto">Cloud files <span *appSecureIsUploader>for {{consumerDisplayName}}</span>
    </div>

    <button class="btn btn-primary ml-auto" role="button" (click)="gotoNew()" *appSecureIsUploader>New file</button>

    <button *ngIf="allowGoBack===true" class="btn btn-outline-primary ml-1" (click)="goBack()" role="button">
      <i class="fa fa-arrow-left"></i> Back
    </button>
  </div>

  <div class="card-body">
    <div class="d-flex flex-wrap align-items-center my-4">

      <button class="btn btn-primary m-3" (click)="filter()" role="button" *ngIf="tags?.length>0">Filter by tags
      </button>

      <div *ngFor="let item of tags; index as i" class="custom-control custom-checkbox ml-4">
        <input type="checkbox" class="custom-control-input" [id]="'customCheck'+i" (change)="filterInvert(item.tag)"
               [checked]="filterContaings(item.tag)">
        <label class="custom-control-label" [for]="'customCheck'+i">{{item.tag}}</label>
      </div>
    </div>

    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col" class="d-none d-xl-table-cell align-middle">#</th>
        <th scope="col" class="d-none d-xl-table-cell align-middle" *appSecureIsAdministratorOrConsumer>Uploader</th>
        <th scope="col" class="d-none d-xl-table-cell align-middle" *appSecureIsAdministrator>Consumer</th>
        <th scope="col" class="align-middle">File</th>
        <th scope="col" class="d-none d-xl-table-cell align-middle">Size</th>
        <th scope="col" class="d-none d-xl-table-cell align-middle">Created</th>
        <th scope="col" class="d-none d-xl-table-cell align-middle">Viewed</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of list; index as i">
        <th scope="row" class="d-none d-xl-table-cell align-middle">{{ i + 1 }}</th>
        <td class="d-none d-xl-table-cell align-middle" *appSecureIsAdministrator>
          <a class="nav-link" routerLink="/uploaders/{{item.uploader.id}}">{{item.uploader.displayName}}</a>
        </td>
        <td class="d-none d-xl-table-cell align-middle" *appSecureIsConsumer>
          {{item.uploader.displayName}}
        </td>
        <td class="d-none d-xl-table-cell align-middle" *appSecureIsAdministrator>
          <a class="nav-link" routerLink="/consumers/{{item.consumer.id}}">{{item.consumer.displayName}}</a>
        <td class="align-middle">
          <p>{{item.fileName}}</p>
          <span *ngFor="let tag of item.tags" class="badge badge-pill badge-primary m-1 p-2">{{tag}}</span></td>
        <td class="d-none d-xl-table-cell align-middle">{{item.contentLength | fileSize}}</td>
        <td class="d-none d-xl-table-cell align-middle">{{item.creationTime | date: 'dd/MM/yy HH:mm' }}</td>
        <td class="d-none d-xl-table-cell align-middle"
            ngbTooltip="{{ item.viewIp}}">{{ item.viewTime | date: 'dd/MM/yy HH:mm' }} {{ item.viewIp ? 'from ' + item.viewIp : ''}}
        </td>
        <td class="d-flex  flex-wrap align-middle">
          <div class="ml-auto"></div>

          <!--          [disabled]="!isViewed(item)"-->
          <button type="button"
                  class="m-1 btn btn-lg btn-outline-primary"
                  ngbTooltip="Delete"

                  (click)="onDelete(item)"
                  *appSecureIsUploader>
            <i class="fa fa-trash"></i>
          </button>

          <button type="button"
                  class="m-1 btn btn-lg btn-outline-primary"
                  ngbTooltip="Send notification, again"
                  (click)="onSendNotification(item)"
                  *appSecureIsConsumer="false">
            <i class="fa fa-paper-plane"></i>
          </button>

          <a class="m-1 btn btn-lg btn-outline-primary"
             *appSecureIsConsumer="false"
             ngbTooltip="Download preview"
             target="_blank"
             href="/api/v1/public/preview-files/{{item.uuid}}">
            <i class="fa fa-cloud-download"></i>
          </a>

          <a class="m-1 btn btn-lg btn-outline-primary"
             ngbTooltip="Download"
             target="_blank"
             (click)="onDownload(item.uuid)"
             href="/api/v1/public/files/{{item.uuid}}"
             *appSecureIsConsumer>
            <i class="fa fa-download"></i>
          </a>

        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-center text-muted mb-5" *ngIf="0===list.length">No element found</div>
  </div>
</div>



