

/**
   Animazione d'ingresso
 */
.animation-visibility {
  animation: myAnimation 8s ease-out;
}

@keyframes myAnimation {
  0% {
    opacity: 0;
    transform: translateX(-300);
  }
  100% {
    opacity: 1;
    transform: translateX(+300);
  }
}
