<div class="modal-header">

  <h4 class="modal-title">{{ title }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>To change password, click on the follow link</p>
  <a [href]="trustedUrl" target="_blank" (click)="accept()">Change password</a>
</div>
<div class="modal-footer">
<!--  <button type="button" class="btn btn-outline-primary" (click)="decline()">{{ btnCancelText }}</button>-->
  <button type="button" ngbAutofocus  class="btn btn-primary" (click)="decline()">{{ btnOkText }}</button>
</div>
