<div class="card">
  <div class="card-header d-flex flex-row align-items-center">
    <div class="float-left display-4 p-1">Uploaders</div>
    <a class="btn btn-primary ml-auto" routerLink="./create" role="button" *appSecureIsAdministrator>New uploader</a>
  </div>
  <div class="card-body">

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" class="d-none d-xl-table-cell">#</th>
        <th scope="col" class="d-none d-xl-table-cell">Logo</th>
        <th scope="col" class="d-none d-xl-table-cell">Username</th>
        <th scope="col">Display name</th>
        <th scope="col" class="d-none d-xl-table-cell">Email</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of list; index as i" class="align-content-md-center">
        <th scope="row" class="d-none d-xl-table-cell">{{ i + 1 }}</th>
        <td class="d-none d-xl-table-cell">
          <div class="img"><img alt="logo" class="img-fluid" style="width: 64px;" src="{{getLogoUrl(item.id)}}"></div>
        </td>
        <td class="d-none d-xl-table-cell">{{ item.username }}</td>
        <td>{{ item.displayName }}</td>
        <td class="d-none d-xl-table-cell">{{ item.email }}</td>
        <td>
          <a href="#"
             class="m-2 btn btn-lg btn-outline-primary float-left"
             *appSecureIsConsumer="false"
             [routerLink]="item.id"
             ngbTooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>

          <button
            type="button"
            class="m-2 btn btn-lg btn-outline-primary float-left"
            ngbTooltip="Change password"
            *appSecureIsConsumer="false"
            (click)="onChangePassword(item)">
            <i class="fa fa-key"></i>
          </button>

          <button
            type="button"
            class="m-2 btn btn-lg btn-outline-primary float-right"
            ngbTooltip="Delete"
            *appSecureIsConsumer="false"
            (click)="onDelete(item)">
            <i class="fa fa-trash"></i>
          </button>

          <button
            type="button"
            class="m-2 btn btn-lg btn-outline-primary float-right"
            ngbTooltip="Goto files"
            *appSecureIsConsumer
            (click)="onGotoFiles(item)">
            <i class="fa fa-file"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



